name: Build Docker
on:
  workflow_dispatch:
#  schedule:
#    - cron:  "0 4 * * *"
  push:
    branches:
      - main

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  generate:
    name: Build Docker
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3

      - name: Docker meta
        id: docker_meta
        uses: docker/metadata-action@v4
        with:
          images: ghcr.io/gwmcelfresh/cmdstanr-brms-image
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=sha

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2.1.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.2.1
        with:
          # Use the previous version of buildx to force docker to save a V1 image,
          # since Exacloud's outdated docker version cannot handle V2/OCI:
          version: v0.9.1

      - name: Login to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v2.1.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v3.3.0
        with:
          context: .
          file: ./Dockerfile
          build-args: |
            "GH_PAT=${{ secrets.PAT }}"
            pull: true
            push: true
            tags: ghcr.io/gwmcelfresh/cmdstanr-brms-image:nightly,ghcr.io/gwmcelfresh/cmdstanr-brms-image:latest
            labels: |
              ${{ steps.docker_meta.outputs.labels }}
              org.opencontainers.image.title=cmdstanr-brms-image
              org.opencontainers.image.description=This docker image is meant to help GW bridge software gaps when trying to do science on an HPC. 
